{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}About{% endblock %}
{% block og_title %}About{% endblock %}
{% block meta_description %}About Christina; Concept artist, writer and game designer.{% endblock %}
{% block og_description %}About Christina; Concept artist, writer and game designer.{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <div class="row justify-content-center">
                <div class="col-lg-8 py-4">
                    <h1 class="mb-4">About Christina</h1>
                    <p>Hello! I'm Christina, a writer and artist. This website contains projects I've worked on.</p>
                    <h4>Narrative Design</h4>
                    <p>
                        <u>Formats</u>: Comic, screenplay, prose, bark sheets
                        <br/>
                        <u>Genres</u>: Romance, fantasy, action, drama
                    </p>
                    <h4>Art</h4>
                    <p>
                        <u>Formats</u>: Manga/comic pages (ink, pencil, storyboard), concept art (interior, character)
                        <br/>
                        <u>Styles</u>: Manga black/white, anime
                    </p>
                </div>
                <div class="col-lg-4 py-4">
                    <img src="{% static "/files/christina-headshot.jpeg" %}"
                         alt="Headshot of Christina with a cat"
                         class="w-100"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
