{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}About{% endblock %}
{% block og_title %}About{% endblock %}
{% block meta_description %}About Christina Nissi; Concept artist, writer and game designer.{% endblock %}
{% block og_description %}About Christina Nissi; Concept artist, writer and game designer.{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <div class="row justify-content-center">
                <div class="col-lg-8 py-4">
                    <h1 class="mb-4">About Christina Nissi</h1>
                    <p>
                        Hello! I'm Christina Nissi. I have a BA in Applied Mathematics. I have experience programming in Unity with C#, programming in Java, and performing data simulations and analyses with Python. I create concept art and design and write narratives.
                    </p>
                    <p>
                        In my free time I love cooking, baking, and fostering rescue cats back to health. Plus I play video games, my favorite genres being RPGs.
                    </p>
                </div>
                <div class="col-lg-4 py-4">
                    <img src="{% static "/files/christina-headshot.jpeg" %}"
                         alt="Headshot of Christina Nissi with a cat"
                         class="w-100"/>
                </div>
                <div class="col-md-12 py-4">
                    <h2 class="mb-4">Art and Writing</h2>
                    <p>
                        Passionate artist and writer. I am motivated to create video game experiences that feel alive. Open minded and always learning!
                    </p>
                    <h4>Skills</h4>
                    <p>
                        Character, prop, interior concept art
                        Fantasy, medieval, slice-of-life genres
                        MMORPG, RPG, and story driven games
                        Procreate, Blender, Unity
                    </p>
                </div>
                <div class="col-md-12 py-4">
                    <h2 class="mb-4">Mathematics and Programming</h2>
                    <p>Analytical and seeking the story behind the data. I enjoys crunching numbers!</p>
                    <h4>Education</h4>
                    <p>
                        BA Applied Mathematics, Queens College, Queens, NY, USA
                        <br/>
                        Video Game Design program, Häme University of Applied Sciences, Riihimäki, Finland
                    </p>
                    <h4>Skills</h4>
                    <p>Java, Python, C#, C/C++, Mathematica, Unity</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
