/* raleway-regular - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/raleway-v28-latin-regular.woff")
            format("woff"),
        /* Modern Browsers */ url("../fonts/raleway-v28-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/raleway-v28-latin-regular.svg#Raleway")
            format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/raleway-v28-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/raleway-v28-latin-700.woff")
            format("woff"),
        /* Modern Browsers */ url("../fonts/raleway-v28-latin-700.ttf")
            format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/raleway-v28-latin-700.svg#Raleway")
            format("svg"); /* Legacy iOS */
}
/* raleway-italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/raleway-v28-latin-italic.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../fonts/raleway-v28-latin-italic.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/raleway-v28-latin-italic.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/raleway-v28-latin-italic.woff")
            format("woff"),
        /* Modern Browsers */ url("../fonts/raleway-v28-latin-italic.ttf")
            format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/raleway-v28-latin-italic.svg#Raleway")
            format("svg"); /* Legacy iOS */
}
/* raleway-700italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/raleway-v28-latin-700italic.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../fonts/raleway-v28-latin-700italic.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/raleway-v28-latin-700italic.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/raleway-v28-latin-700italic.woff")
            format("woff"),
        /* Modern Browsers */ url("../fonts/raleway-v28-latin-700italic.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/raleway-v28-latin-700italic.svg#Raleway") format("svg"); /* Legacy iOS */
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:root {
    --main-bg-color: #ffffff;
    --main-fg-color: #2d2d2d;
    --main-fg-color-dim: rgba(45, 45, 45, 0.6);
    --main-border-radius: 0;
    --main-font-family: Raleway, sans-serif;
}
html {
    width: 100%;
}
html body {
    background-color: var(--main-bg-color) !important;
    color: var(--main-fg-color) !important;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
    font-family: var(--main-font-family) !important;
}
body a {
    color: #a8384b;
    text-decoration: none;
}
body a:hover {
    color: #d68596;
    text-decoration: underline;
}
/* BOOTSTRAP OVERRIDES START */
.card {
    background-color: var(--main-bg-color-dim) !important;
    border-radius: var(--main-border-radius) !important;
    /* border: none !important; */
}
/* BOOTSTRAP OVERRIDES END */
/* ART IMAGE RULES START */
.cn_art_row .cn_art_content {
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: var(--main-border-radius);
}
.cn_art_content .cn_art_content_overlay {
    background: var(--main-fg-color-dim);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: var(--main-border-radius);
}
.cn_art_content:hover .cn_art_content_overlay {
    opacity: 1;
}
.cn_art_content_image img {
    width: 100%;
    border-radius: var(--main-border-radius);
}
.cn_art_content_details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.cn_art_content:hover .cn_art_content_details {
    top: 50%;
    left: 50%;
    opacity: 1;
}
.cn_art_content_title {
    text-align: center;
    color: var(--main-bg-color);
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.cn_fadein_bottom {
    top: 80%;
}
/* ART IMAGE RULES END */
/* WRITING RULES START */
.cn_writing_card {
    background-color: var(--main-bg-color-dim);
    border-color: var(--main-bg-color-dim);
    border-radius: var(--main-border-radius);
}
/* WRITING RULES END */
/* CONTACT FORM RULES START */
#contactForm .thin-heading {
    font-weight: 300;
    font-size: 40px;
}
#contactForm .form-group {
    margin-bottom: 1rem;
}
#contactForm .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding: 0;
    border-radius: 0px;
}
#contactForm .form-control:active,
#contactForm .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #000;
}
#contactForm .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

#contactForm .btn,
#contactForm .form-control,
#contactForm .custom-select {
    height: 50px;
}
#contactForm .btn {
    border: none;
    border-radius: 0;
}
#contactForm .btn.btn-primary {
    background: #000;
    color: #fff;
    padding: 15px 20px;
}

#contactForm .btn:hover {
    color: #fff;
}
#contactForm .btn:active,
#contactForm.btn:focus {
    outline: none;
    box-shadow: none;
}

#contactForm h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
#contactForm #id_message {
    resize: vertical;
}
/* CONTACT FORM RULES END */
@media print {
    body {
        max-width: none;
    }
}
