{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "About" %}
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <div class="row justify-content-center">
                <h1>About</h1>
                <div class="col-md-12 py-4">
                    <h2>Art and Writing</h2>
                    <p>
                        Passionate artist and writer. I am motivated to create video game experiences that feel alive. Open minded and always learning!
                    </p>
                    <h4>Skills</h4>
                    <p>
                        Character, prop, interior concept art
                        Fantasy, medieval, slice-of-life genres
                        MMORPG, RPG, and story driven games
                        Procreate, Blender, Unity
                    </p>
                </div>
                <div class="col-md-12 py-4">
                    <h2>Mathematics and Programming</h2>
                    <p>Analytical and seeking the story behind the data. I enjoys crunching numbers!</p>
                    <h4>Education</h4>
                    <p>
                        BA Applied Mathematics, Queens College, Queens, NY, USA
                        <br/>
                        Video Game Design program, Häme University of Applied Sciences, Riihimäki, Finland
                    </p>
                    <h4>Skills</h4>
                    <p>Java, Python, C#, C/C++, Mathematica, Unity</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
