<div class="container text-center">
    <div class="row row-cols-3">
        {% for art in arts %}
        <div class="col">
            <div class="content">
                <a href="{% url 'art_detail' art.slug %}">
                    <div class="content-overlay"></div>
                    {% with art.art_images.all.0 as art_image %}
                    <img src="{{ art_image.image.url }}" class="content-image" alt="{{ art_image.title }}" />
                    {% endwith %}
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">{{ art.title }}</h3>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
