<div class="container py-3">
    <div class="row">
        <div class="col">
            <h2>Writings</h2>
        </div>
    </div>
    <div class="row cn_writing_row">
        {% for writing in writings %}
        <div class="col-12 col-md-6 col-lg-4 py-2 px-2 cn_writing_col">
            <div class="cn_writing_card card">
                <div class="card-body cn_writing_body">
                    <h5 class="card-title">{{ writing.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ writing.created_on | date:"M d, Y"}}{% if writing.tags.all %} — {% endif %}
                        {% for tag in writing.tags.all %}
                        <a href="{% url 'writing_tag' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h6>
                    <p class="card-text">{{ writing.teaser }}</p>
                    <a href="{% url 'writing_detail' writing.slug %}">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
